<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
